.validationMessage {
  color: rgb(199, 9, 9) !important;
  font-size: 0.8rem !important;
  margin-bottom: 20px !important;
  margin-top: -10px !important;
}
.bg-gradient-primary {
  background-image: linear-gradient(310deg, #3f0097 0%, #4912b2 100%);
}
.btn-outline-primary {
  color: #3f0097;
  border-color: #3f0097;
}
.dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list .active a {
  background-image: linear-gradient(310deg, #3f0097 0%, #4912b2 100%);
}
.btn-primary {
  background-color: #3f0097;
  border-color: #3f0097;
}
.btn-primary:hover {
  background-color: #4912b2;
  border-color: #4912b2;
}
.btn-primary:focus {
  color: #fff;
  background-color: #4912b2;
  border-color: #4912b2;
  box-shadow: 0 0 0 0.2rem rgba(48, 105, 211, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.show > .btn.bg-gradient-primary.dropdown-toggle {
  color: color-yiq(#4912b2);
  background-color: #4912b2;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #3f0097;
  outline: 0;
  box-shadow: 0 0 0 2px #3f0097;
}
